---
import Layout from "../layouts/Layout.astro";
import InicioSection from "../components/sections/inicio/InicioSection.astro";
import ServiciosSection from "../components/sections/servicios/ServiciosSection.astro";
import NuestrasObrasSection from "../components/sections/nuestras-obras/NuestrasObrasSection.astro";
import QuienesSomosSection from "../components/sections/quienes-somos/QuienesSomosSection.astro";
---

<Layout>
  <main class="page-shell">
    <InicioSection />
    <ServiciosSection />
    <NuestrasObrasSection />
    <QuienesSomosSection />
  </main>
</Layout>